@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
    color: rgb(0, 0, 0);
}

header {
    padding-bottom: 20px;
}

footer {
    padding-top: 50px;
}

.site-background {
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.home-bg {
    background-image: url(./images/milk.jpg);
    color: rgb(255, 255, 255);
}

.favorites-bg {
    background-image: url(./images/zelda.png);
    color: rgb(255, 255, 255);
}

.music-bg {
    background-image: url(./images/radiocover.jpg);
    color: rgb(255, 255, 255);
}

.cobrakai-bg {
    background-image: url(./images/logo-cobrakai.jpg);
    color: rgb(255, 255, 255);
}

body h1 {
    font-family: 'Press Start 2P', cursive;
}

/* Remove a cor azul padrão dos links e herda a cor do texto */
a, Link {  /* <-- Atenção: 'Link' é o componente do React Router */
    color: inherit;          /* Herda a cor do elemento pai */

  }

.post-it {
    background-color: #ffff88;; /* Amarelo post-it */
    color: #53062f; /* Rosa shock */
    font-family: "Comic Sans MS", cursive;
    padding: 15px;
    transform: rotate(-3deg);
    box-shadow: 5px 5px 0px rgba(0,0,0,0.2);
    display: inline-block;
    margin: 10px;
}

.neon-text {
    color: rgb(255, 255, 255);
    text-shadow:
      0 0 5px #fff,
      0 0 10px #ff00ff,
      0 0 20px #ff00ff,
      0 0 40px #00ffff;
    background-color: rgba(0,0,0,0.7); /* Fundo escuro semi-transparente */
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block; /* Faz o contorno se ajustar ao texto */
    margin: 10px 0; /* Espaçamento opcional */
}

.simple-list{
    background-color: black;
    display: inline-block; /* Faz o contorno se ajustar ao texto */
    margin: 10px 0; /* Espaçamento opcional */
}




